#wrapper{
    background-image: url("image/image_3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height:100vh;
    background-attachment: fixed;
    background-position: right;
    z-index: 1;
}
#header_1{
    width:100%;
    height:50px;
    background-color: rgba(142, 223, 189, 0.904);
    display: flex;
    align-content: center;

}
h1{
  
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}
#main_page{
display: flex;
align-content: center;
justify-content: space-between;
padding: 25px;
}
.text{
    font-size: 30px;
    font-family: cursive;
    color: coral;
    background-color: cornflowerblue;
    width: 50vw;
    align-content: center;
    text-align: center;
    

}
#section_1{
    
   
    
}